[submodule "googletest"]
	path = unittest/third_party/googletest
	url = https://github.com/GerHobbelt/googletest.git
[submodule "test"]
	path = test
	url = https://github.com/GerHobbelt/tesseract-ocr-test.git
[submodule "debian"]
	path = debian
	url = https://git.archive.org/merlijn/tesseract-debian
